# This is an example of what `.env` files look like.
# They are just environment variable definitions in `sh` syntax.
#
# --------------------------------------------------------------------------------
#
# Variables for controlling Invenio app configuration must be prefixed
# with "INVENIO_"; and for the values, Python syntax is supported.
# E.g. the following environment variable:
#
# INVENIO_MY_CONFIG='["hello", "world"]'
#
# would result in the the following Invenio app config being set on startup:
#
# app.config["MY_CONFIG"] = ["hello", "world"]
#
# --------------------------------------------------------------------------------
#
# Database connection details
INVENIO_DB_USER=kstu-inveniordm
INVENIO_DB_PASSWORD=kstu-inveniordm
INVENIO_DB_HOST=localhost

# Message queue username
INVENIO_MQ_USER=guest
INVENIO_MQ_PASSWORD=guest

# Secret key for encryption (e.g. shared links)
INVENIO_SECRET_KEY=3e8a7f3ec7e85f5d09e23b775c38204877a728b6eca2b34e64deccd9d054d3645
